@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

form {
  font-family: 'Roboto Mono', monospace;
}

.wrapper {
  text-align: center;
  padding: 0 15px;
  background-color: #173446;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

a {
  color: #999;
  position: relative;
}

a:after {
  background-color: #999;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: all .3s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
}

a:hover:after {
  transform: scaleX(1);
  visibility: visible;
}